.list_items
	each place in places
		.list_item(id=place._id)
			a.item_rm.place(href='#') -- удалить
			a.item_title(href='/admin/places/edit/' + place._id, class=place.status =='hidden' ? 'hidden': '')= (place.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')
			if place.ribbon
				span= '**'
			if place.i18n.comment.get('ru') !== ''
				i= ' - (' + place.i18n.comment.get('ru') + ')'
			if type != 'device'
				span= ' --> '
				if type == 'shop'
					a(href='/admin/places/?type=device&parent=' + place._id) устройства
				else
					a(href='/admin/places/?type=shop&parent=' + place._id) магазины

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед