extends layout

block header_meta
	- var content_title= 'РЕСПУБЛИКА | ТЕРМИНАЛ'

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['terminals.css']
	- var include_libs_js = ['swiper.min.js', 'socket.io.js']
	- var include_js = ['terminals.js']

block panel
	.place_title
	.buttons
		.button.places Локации
		.button.reboot Обновить
		.button.reset Сброс
		.separator
		.button.start Старт
		.button.stop Стоп
		.button.prev= '<<'
		.button.next= '>>'


block content
	.places_block
		.places_title
		.places_list
			include _places.jade
		.places_connect Подключить

	.test_block
		button.play_btn play
		each button, i in new Array(7)
			button.slide_btn=i

	.slider_block

	.view_block
		video.media.video(autoplay=false, loop=false, muted=true, controls=false)
		img.media.image