.list_items
	each ribbon in ribbons
		.list_item(id=ribbon._id)
			a.item_rm.ribbon(href='#') -- удалить
			a.item_copy(href='#') копировать
			a.item_title(href='/admin/ribbons/edit/' + ribbon._id, class=ribbon.status)= (ribbon.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')

.list_counter
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед