mixin items(ribbons)
	each ribbon in ribbons
		.list_item
			a.item_rm.ribbon(href='#', id=ribbon._id) -- удалить
			a.item_copy(href='#', id=ribbon._id) копировать
			a.item_title(href='/admin/ribbons/edit/' + ribbon._id, class=ribbon.status)= (ribbon.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')

mixin counters(count, skip)
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед


if load_list
	.list_items
		+items(ribbons)
	.list_counter
		+counters(count, skip)