mixin items(ads)
	each ad in ads
		.list_item(id=ad._id)
			a.item_rm.ad(href='#') -- удалить
			a.item_title(href='/admin/ads/edit/' + ad._id, class=ad.status =='hidden' ? 'hidden': '')= (ad.i18n.title.get('ru') || '!!! ПУСТОЕ ПОЛЕ !!!')

mixin counters(count, skip)
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед


if load_list
	.list_items
		+items(ads)
	.list_counter
		+counters(count, skip)